{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<h1 class='text-center my-5 py-5'>Réinitialisation du mot de passe</h1>
{% if is_valide == false %}
    <div class="text-center">
        <div class="alert alert-info d-inline" role="alert">
            {{ errors }}
        </div>
    </div>
{% endif %}
<div class="vh-100">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div>
                <form action="" method="post" style="width:450px">
                    <div class="mb-3">
                        <label for="password" class="form-label">Nouveau mot de passe</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary d-block m-auto px-4 py-2">Modifier</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
