{% extends 'base.html.twig' %}

{% block body %}

<div class="vh-100">
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 class='text-center my-5 py-5'>Oops une erreur c'est produite</h1>
    </div>
</div>
{% endblock %}
